table {
    border-collapse: collapse;
}

table tr:nth-child(n) {
    background-color: blueviolet;
}

table tr:nth-child(3n+2) {
    background-color: orangered;
}

table tr:nth-child(3n+3) {
    background-color: yellowgreen;
}